
@{
    ViewData["Title"] = "Committee Select";
    var commitees = ViewBag.Committees;
}
<header>
    <div class="container">
        <h1>اللوجو لغاية ما نقرر</h1>
    </div>
</header>
<form asp-action="Committeeselect" id="main-col">
    <div class="container">
        <div id="Select_committee">
            <h3 style="margin: auto; margin-left: 110px;">اختيار اللجنة</h3>
            <select name="اللجان" id="committee_select">
                @foreach(var item in commitees)
                {
                    <option value="@item.id">@item.Name</option>
                }
            </select>
            <div class="center">
                <button type="submit" id="button" name="button">تسجيل</button>
            </div>
        </div>
    </div>
</form>
<!-- <div style="clear:both"></div> -->
<footer id="loginpage_footer">
    <p>جميع الحقوق محفوظة &copy; 2023</p>
</footer>