@model Member
@{
    ViewData["Title"] = "Login";
}
<header>
    <div class="container">
        <h1>اللوجو لغاية ما نقرر</h1>

    </div>
</header>

<form asp-action="Index" id="main-col">
    <div class="container">

        <div id="loginForm">
            <h3>تسجيل دخول</h3>
            <label id="Invalid" style="text-align:right;"></label>
            <label id="loginform_lable" for="Email">الاسم</label>
            <input type="text" id="loginform_input" placeholder="الاسم">
            <label id="loginform_lable" for="Password">كلمة المرور</label>
            <input type="password" id="loginform_input" placeholder="كلمة لمرور">
            <div class="center">
                <button type="submit" id="button" name="button">تسجيل</button>
            </div>
            
        </div>
        
    </div>

</form>
<footer id="loginpage_footer">
    <p>جميع الحقوق محفوظة &copy; 2023</p>
</footer>
@if (!ViewData.ModelState.IsValid)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var pElement = document.getElementById('Invalid');
            pElement.innerHTML = '.الايميل او كلمة المرور غير صحيحة';
        });
    </script>
}