@model MemberCommittee
@{

}
<header id="mainPage_header">
    <div class="mainpage_container">
        <h1>اللوجو لغاية ما نقرر</h1>
        <nav>
            <ul>
                <li>اسم اللجنة</li>
            </ul>
        </nav>
    </div>
</header>
<div id="main-col">
    <div class="mainpage_container">
        <div id="actions">
            <p>اسم العضو</p>
            <p>منصبه في للجنة</p>
            <button id="useraction_button">تغييير كلمة المرور</button>
            <button id="useraction_button">تسجيل الخروج</button>
        </div>
        <div id="sideBar">
            <ul>
                <li>
                    <a href="./mainPage.html">الصفحة الرئيسية</a>
                </li>
                <li>
                    <a href="#">تشكيل المجلس</a>
                </li>
                <li>
                    <a href="#">جلسة قيد الاجراء</a>
                </li>
                <li>
                    <a href="#">جلسات سابقة</a>
                </li>
                <li>
                    <a href="./SearchPage.html">البحث عن موضوعات</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<footer id="pageFooter">
    <p>جميع الحقوق محفوظة &copy; 2023</p>
</footer>
