@using Meeting_Manegment_System.ViewModels
@model ForgetPasswordView
<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">Org icon </a>

</header>
<section class="main_sectione">
    <div class="containere">
        <form class="forme" method="post">
            <h2> استرجاع كلمة المرور</h2>
            <input type="email" asp-for="Email" name="email" class="box" placeholder="ادخل البريد الالكنروني للمستخدم">
            <span asp-validation-for="Email"></span>
            @if(ViewBag.Email==1)
            {
                <text>تم ارسال ايميل الى المسئول</text>
            }
            else if(ViewBag.Email==2)
            {
                <text>الايميل غير صحيح</text>
            }
            <input type="submit" asp-action="ForgetPassword" id="submit"/>
        </form>
    </div>
</section>

<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>