@model Member
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">Org icon </a>

</header>
<section class="main_section">
    <div class="container">
        <form class="form" method="post" asp-action="Login">
            <h2>تسجيل الدخول</h2>
            <input asp-for="Email" type="text" class="box" placeholder="ادخل اسم المستخدم">
            <span asp-validation-for="Email"></span>
            <input asp-for="Password" type="password" class="box" placeholder="ادخل كلمة المرور">
            <span asp-validation-for="Password"></span>
            <a id="Wrong" style="color:black;">
                @if(ViewBag.IsGood==false)
                {
                    <text>الايميل او كلمة المرور غير صحيحه</text>
                }
            </a>
            <input asp-action="Login" type="submit" value="تسجيل الدخول" id="submit">
            <a href="#">نسيت كلمة المرور؟</a>
        </form>

        <div class="side">
            <img src="./img.png" alt="">
        </div>
    </div>
</section>

<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>